.queryInputContainer {
  flex-direction: row-reverse;
  gap: 20px;
  display: flex;
  max-width: 100%;
  width: 100%;
  @media (max-width: 448px) {
    flex-direction: column;
  }
}

.flexRowContainer {
  display: flex;
  gap: 8px;
}

.queryInputSelect {
  flex: 1;
  max-width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
}

.queryInputButton {
  flex: 1;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  border: #fff 1px solid;
}

.bottomButton {
  margin-top: 8px;
}

.codeEditorContainer {
  width: 100%;
  min-height: 200px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.codeEditorInput {
  display: block;
  flex: 1;
  width: 100%;
  padding: 0 0 0 8px;
  border-radius: 8px;
  min-height: 40px;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #fff;
  font-size: 16px;
}

.labelText {
  font-weight: 500;
  margin: 0 0 8px;
}

.dropdownsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.queryBox {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 12px;
}

.justifyCenter {
  align-items: center;
  justify-content: center;
}

.loadMoreBtns {
  min-width: 300px;
}

.primaryBtn {
  background-color: #fff;
  color: #000;
}
