.queryInputContainer {
  max-width: 100%;
  padding: 16px;
}

.queryInputSelect {
  max-width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
}

.queryInputButton {
  margin-left: 8px;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.codeEditorContainer {
  font-size: 12px;
  background-color: #f5f5f5;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Consolas, Liberation Mono,
    Menlo, monospace;
  min-height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.codeEditorButton {
  margin-top: 8px;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
