.tableContainer {
  max-width: 100%;
  overflow-x: auto;
}

.tableWrapper {
  overflow-x: auto;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  @media (prefers-color-scheme: light) {
    border-right: 1px solid #242424;
    border-left: 1px solid #242424;
  }
}

/* The first column will be sticky/fixed */
th:first-child,
td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: grey;
}

th:first-child,
td:first-child {
  padding-left: 12px;
}
